<?xml version="1.0" encoding="UTF-8"?>
<mets xmlns="http://www.loc.gov/METS/" xmlns:xlink="http://www.w3.org/1999/xlink"
      OBJID="<%= @dip.ieid %>"
      LABEL="FDA0666001">

  <metsHdr CREATEDATE="2008-11-24T13:58:43-05:00">
    <agent ROLE="DISSEMINATOR" TYPE="ORGANIZATION">
      <name>FCLA</name>
    </agent>
  </metsHdr>
  
  <amdSec>
    <rightsMD ID="rights-metadata-0">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="rights.xml"/>
    </rightsMD>
    <digiprovMD ID="digiprov-metadata-0">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="digiprov.xml"/>
    </digiprovMD>
  </amdSec>
  
  <fileSec>
    <fileGrp>
      <file ID="file-0" CHECKSUM="a4eb21805624aede12084b5c9b0a00babb7db137" CHECKSUMTYPE="SHA-1">
	<FLocat LOCTYPE="URL" xlink:href="rep-1.xml"/>
      </file>
      <file ID="file-1" CHECKSUM="1a262541d52d9a9569979b3d5fe6edaac7b08934" CHECKSUMTYPE="SHA-1">
	<FLocat LOCTYPE="URL" xlink:href="rep-2.xml"/>
      </file>
    </fileGrp>
  </fileSec>

  <structMap>
    <div>
      <div ORDER="1">
	<fptr FILEID="file-0"/>
      </div>
      <div TYPE="ACTIVE" ORDER="2">
	<fptr FILEID="file-1"/>
      </div>
    </div>
  </structMap>
  
</mets>
